<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    #che{
    	width: 600px;
    	border:  1px solid blue;
    	/*position: relative;*/
    }
    #cheshi{
    	border:  1px solid red;
		height:  200px;
		/*position: absolute;
		left:  50%;
		transform: translateX(-50%);
		宽度不确定的盒子水平居中*/

}


    	
    </style>
</head>

<body>
    <div id="che">
    		<p>我电话</p>
      
            <div id="cheshi">
            	<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ducimus dolore, ratione numquam facilis similique. Incidunt rerum accusantium culpa voluptatem illo recusandae officia temporibus obcaecati quam, molestiae nisi. Ab, corporis.</a>
            </div>　　
       
    </div>
</body>

</html>