<div class="hotauthor">
    <div class="author">
        <div class="week">
            <div class="title" ng-if="uploaded==true"><span>本周推荐</span></div>
            <div class="body">
                <div class="one" ng-repeat="author in week.authors">
                    <div class="left">
                        <a href="#/center">
                            <img ng-src="{{author.avatar}}" alt="">
                        </a>
                    </div>
                    <div class="right">
                        <a href="#/hotauthor/authorWork/{{author.id}}?name={{author.name}}&id={{author.id}}">
                            <h5>{{author.name}}</h5>
                            <p>{{author.alt}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hot">
            <div class="title fix" ng-if="uploaded==true"><span>热门作者</span></div>
            <div class="body">
                <!-- 如果没有点击加载更多，就循环all的 -->
                <div class="one" ng-repeat="author in all.authors">
                    <div class="left">
                        <a href="#/center">
                            <img ng-src="{{author.avatar}}" alt="">
                        </a> </div>
                    <div class="right">
                        <a href="#/hotauthor/authorWork/{{author.id}}?name={{author.name}}&id={{author.id}}">
                            <h5>{{author.name}}</h5>
                            <p>{{author.alt}}</p>
                        </a>
                    </div>
                </div>
                <!-- 如果点击加载更多，就显示更多的 -->
                <div class="one" ng-if="clicked==true" ng-repeat="author in more.authors">
                    <div class="left">
                        <a href="#/center">
                            <img ng-src="{{author.avatar}}" alt="">
                        </a>
                    </div>
                    <div class="right">
                        <a href="#/hotauthor/authorWork/{{author.id}}?name={{author.name}}&id={{author.id}}">
                            <h5>{{author.name}}</h5>
                            <p>{{author.alt}}</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="more" ng-click="more()" ng-if="uploaded==true&&complete==false">更多...</div>
            <div class="more" ng-if="complete==true">没有更多热门作者了</div>
        </div>
    </div>
</div>