<div class="maincenter">
    <div class="message">
        <img src="./uploads/avatar_1.png" alt="">
        <h5>吴道子</h5>
        <p><span>长居地：</span>中国北京</p>
        <div class="btn clearfix">
            <div class="attention">关注</div>
            <div class="summary">个人简介</div>
        </div>
    </div>
    <div class="focus">
        <div>关注：<span>469</span></div>
        <div>被关注：<span>25625</span></div>
    </div>
    <ul>
        <li>
            <div class="left">广播</div>
            <div class="right">
                <span class="num">5685</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">日记</div>
            <div class="right">
                <span class="num">555</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">相册</div>
            <div class="right">
                <span class="num">64</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">书影音长评</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <div class="title">电影</div>
        <li>
            <div class="left">看过</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">想看</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">在看</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <div class="title">读书</div>
        <li>
            <div class="left">读过</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">想读</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">在读</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <div class="title">音乐</div>
        <li>
            <div class="left">听过</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">想听</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
        <li>
            <div class="left">在听</div>
            <div class="right">
                <span class="num">52</span>
                <span class="more">></span>
            </div>
        </li>
    </ul>
</div>