<div class="favourite">
    <div class="like"><span>喜欢(3)</span></div>
    <ul>
        <li>
            <p>生活家</p>
            <h2 class="title">租房必备生活宝物，教你把日子过成想要的样子！</h2>
            <div class="count">
                <div class="text text3">为了以最快速度塑造出房内装饰的大体模样，满足自己的“只做表面功夫”的心态，家具是我在租房的时候，最先购买的东西。</div>
                <div class="img3"><img src="./uploads/post_1.png" alt=""></div>
            </div>
        </li>
        <li>
            <p>远方与诗</p>
            <h2>校园里的流浪猫</h2>
            <div class="count">
                <div class="text text2">校园里的流浪猫分为两拨，一拨以高级中学的操场为主要势力范围，贴着围墙，每天晃晃悠悠，翘翘尾巴，逗逗青草，主要职责是卖萌拍照。另一拨紧紧霸着食堂，一个个脏兮兮、黏乎乎，围成一团分食着午饭后倒出的残羹冷炙。</div>
            </div>
        </li>
        <li>
            <p></p>
            <h2>迷踪西藏</h2>
            <div class="count">
                <div class="img2"><img src="./uploads/img1.jpg" alt=""><img src="./uploads/img2.jpg" alt=""><img src="./uploads/img3.jpg" alt=""></div>
            </div>
        </li>
    </ul>
    <div class="end">你喜欢的内容就这么多啦！</div>
</div>