  <div class="setting">

                    <ul>
                        <li ng-repeat="(key,item) in items">
                            <div class="left">
                                <h5>{{item.title}}</h5>
                                <span>{{item.instruction}}</span>
                            </div>
                            <!-- <runoob-directive></runoob-directive> -->
                            <div class="right" ng-show="1==={{item.open}}">
                                <div class="flag" ng-class="{close: bool{{$index}}===1}"  ng-click="change($index)">
                                    <span></span>
                                </div>
                            </div>

                             <div class="right {{item.ico}}" ng-show="2==={{item.open}}">
                                <div ng-class="{close: bool{{$index}}===1}" ng-click="change($index)">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
