<div class="today">
    <ul>
        <div class="date" ng-if="uploaded==true">{{date|date:'ddMMM'}}</div>
        <li ng-repeat="post in posts" ng-click="content(post.short_url,post,$index)">
            <!-- display_style:10002的时候显示 -->
            <p>{{post.column.name}}</p>
            <h2 class="title">{{post.title}}</h2>
            <div class="count">
                <!-- 文字和图片都有的时候显示  10002 -->
                <div class="text text3" ng-if="post.display_style===10002" ng-style="myObjtoday{{$index}}">{{post.abstract}}</div>
                <!-- 只有文字的时候显示 10001-->
                <div class="text text2" ng-if="post.display_style===10001"  ng-style="myObj{{$index}}">{{post.abstract}}</div>
                <!-- 文字和图片都有的时候显示小图片 10002-->
                <div class="img3" ng-if="post.display_style===10002"><img ng-src="{{post.thumbs[0].medium.url}}" alt=""></div>
                <!-- 只有图片的时候显示大图片 10003-->
                <div class="img2" ng-if="post.display_style===10003"><img ng-src="{{post.thumbs[0].medium.url}}" alt=""></div>
            </div>
        </li>
    </ul>
</div>